.container {
    display: flex;

}

.calculator {
    background-color: #0c1524;
    margin: auto;
    width: 280px;
}

.box-result {
    padding: 10px, 8px 0, 8px;
}

.box-result:first-child {
    margin-top: 20px;
}

.box {
    display: flex;
    padding: 8px;
}

.box input {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.buttons {
    padding: 12px 0;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.button {
    margin: 10px 0;
    cursor: pointer;
}

.operation {
    background-color: #219595;
    border-radius: 50%;
}